.DS_Store
data/restricted/
.Rproj.user
.Rhistory

INCORRECT_SORTING_SAMPLES_partialILR
INCORRECT_SORTING_SAMPLES
INCORRECT_NONORTHONORMALPARTIALILR_partialILR_FE
INCORRECT_NONORTHONORMALPARTIALILR_partialILR
INCORRECT_NONORTHONORMALPARTIALILR_partialILR_FE2

INCORRECT_NONORTHONORMALPARTIALILR_partialILRmodelling_FE2
INCORRECT_NONORTHONORMALPARTIALILR_partialILRmodelling_ME
INCORRECT_NONORTHONORMALPARTIALILR_partialILRmodelling_FE_other_regression

code/models/summary_results.txt 
results/_previous_results/

text
#data/inference/

.nfs*
slurm-*
